<%# TODO: variable checks
User schema:
   { id: 123,
     username: 'bob',
     photoUrl: 'cdn.zen.com/1234.jpg',
     zenlevel: 85,
     friends: { ... },
     posts: { ... }
   }
Task schema:
   { id: 456,
     user_id: 123,
     title: 'a title',
     type: 'task' or 'reminder',
     datetime: some timestamp,
     location: 'the schoolyard',
     notes: 'I like puppies'
   }

 TODO: drag and drop, delete, date formatting
%>

<% include ../partials/header %>
        <% include ../partials/nav %>
        <% include ../partials/page_header %>
            <div class="zen_control-center">
                <h1>Control Center</h1>

                <div class="zen_task-summaries">
                    <ul>
                        <% tasks.forEach(function(task) { %>
                            <li class="zen_task-summary">
                                <h4><%= task.title %></h4>
                                <div class="zen_task-info">
                                    <h6><%= task.datetime %></h6>
                                    <h6><%= task.location %></h6>
                                    <h6><%= task.type %></h6>
                                </div>
                                <a class="zen_task-edit-link" href="/task/<%= task.id %>">Edit</a>
                            </li>
                        <% }); %>
                    </ul>
                </div>

                <a href="/task/new">New task</a>
            </div>
<% include ../partials/footer %>
