<%#
Task schema:
   { id: 456,
     user_id: 123,
     title: 'a title',
     type: 'task' or 'reminder',
     datetime: some timestamp,
     location: 'the schoolyard',
     notes: 'I like puppies'
   }

GET /task/123 gets info on task 123
POST edits/creates a task
POST with a delete flag will delete

TODO: split date and time into separate fields in the schema
%>

<% include ../partials/header %>
        <% include ../partials/nav %>
        <% include ../partials/page_header %>
            <% if (typeof message !== 'undefined') { %>
                <div class="zen_system-message">
                    <%= message %>
                </div>
            <% } %>

            <div class="zen_task-edit">
            <h1>
            <% if (typeof task !== 'undefined') { %>Edit
            <% } else { %>New
            <% } %> task</h1>
                <form class="zen_task-form" method="post" action="/task<% if (typeof task !== 'undefined') { %>/<%= task.id %><% } %>">
                    <% if (typeof task !== 'undefined') { %><input type="hidden" name="id" value="<%= task.id %>"><% } %>
                    <label>Title: <input type="text" name="title" <% if (typeof task !== 'undefined') { %>value="<%= task.title %>"<% } %> /></label>
                    <br /><label>Type: <input type="text" name="type" <% if (typeof task !== 'undefined') { %>value="<%= task.type %>"<% } %> /></label>
                    <br /><label>Date and time: <input type="text" name="datetime" <% if (typeof task !== 'undefined') { %>value="<%= task.datetime %>"<% } %> /></label>
                    <br /><label>Location: <input type="text" name="location" <% if (typeof task !== 'undefined') { %>value="<%= task.location %>"<% } %> /></label>
                    <br /><label>Notes: <input type="text" name="notes" <% if (typeof task !== 'undefined') { %>value="<%= task.notes %>"<% } %> /></label>
                    <% if (typeof task !== 'undefined') { %><br /><label>Delete? <input type="checkbox" name="delete" /></label><% } %>
                    <br />
                    <button>Submit</button>
                </form>
            </div>
<% include ../partials/footer %>
